@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

#depoimentos{
    font-family: 'Marcellus', sans-serif;
}

.card-container {
    display: flex;           /* Flexbox para alinhar os itens em linha */
    justify-content: space-between;  /* Distribui o espaço entre os cartões */
    margin-top: 50px;
    flex-wrap: wrap;         /* Permite que os cartões quebrem para a linha seguinte se não houver espaço */
}

.card {
    width: 30%;              /* Define a largura de cada cartão */
    text-align: center;
    margin-bottom: 20px;     /* Adiciona espaçamento entre os cartões, quando quebrar a linha */
}

.card-img {
    width: 20vw;
    
}

.card-body {
    margin-top: 15px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10vh;
}

.card h3 {
    font-size: 1.5em;
    color: #333;
}

.comentario {
    font-size: large;
    color: #555;
    position: relative;
    bottom: 19vh;
    font-family: 'Marcellus', sans-serif;
    font-weight: 550;
    width: 16vw;
    word-wrap: break-word;
}

.pessoa{
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: -17vh;
    font-weight: 800;
    font-size: larger;
    color: rgb(92, 86, 72);
}
