<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentários</title>
    <link rel="stylesheet" href="../assets/style/comments.css">
</head>
<body>
    <h1>Comentários dos Usuários</h1>

    <div id="comments-list">
        <!-- Usando a sintaxe EJS para renderizar os comentários -->
        <% comments.forEach(function(comment) { %>
            <div class="comment">
                <h3> <pre>  <%= comment.nome %>, <%= comment.estado %> </pre> </h3>
                <pre>  <strong>Festival:</strong> <%= comment.festival %> </pre>
                <pre>  <%= comment.comentario %></pre>
            </div>
            <br>
        <% }); %>
    </div>

    <a href="/">Voltar para o formulário</a>
</body>
</html>
